<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}

</head>
<body>

  <div id="emoji-rain" class="emoji-rain"> </div>

{{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}

<div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default false) " headings--one-size" "" }}">

  {{ partial "header.html" . }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>

</body>


{{ with resources.Get "js/animate.js" }}
<script src="{{ .RelPermalink | relURL }}"></script>
{{ end }}

{{ with resources.Get "js/emoji-rain.js" }}
<script src="{{ .RelPermalink | relURL }}"></script>
{{ end }}


<!-- mouse cursor  https://github.com/tholman/cursor-effects -->
<script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
{{ with resources.Get "js/js.js" }}
<script src="{{ .RelPermalink | relURL }}"></script>
{{ end }}
</html>
