<audio controls autoplay>
  <source src="rickroll8bit.mp3" type="audio/mpeg">
</audio>

<iframe width="314" height="321" scrolling="no" src="https://gifypet.neocities.org/pet/pet.html?name=Ham&amp;dob=1757183860&amp;gender=b&amp;element=Water&amp;pet=hamster.gif&amp;map=ozwomp.jpg&amp;background=gify.jpg&amp;tablecolor=black&amp;textcolor=black" frameborder="0"></iframe>
<iframe width="314" height="321" scrolling="no" src="https://gifypet.neocities.org/pet/pet.html?name=Ham&amp;dob=1757183860&amp;gender=b&amp;element=Water&amp;pet=hamster.gif&amp;map=ozwomp.jpg&amp;background=gify.jpg&amp;tablecolor=black&amp;textcolor=black" frameborder="0"></iframe>
<iframe width="314" height="321" scrolling="no" src="https://gifypet.neocities.org/pet/pet.html?name=Ham&amp;dob=1757183860&amp;gender=b&amp;element=Water&amp;pet=hamster.gif&amp;map=ozwomp.jpg&amp;background=gify.jpg&amp;tablecolor=black&amp;textcolor=black" frameborder="0"></iframe>
