.content {
  border: black;
}

.post-content {
  padding: 10px;
  background-color: rgba(0, 255, 255, 0.082);

}

.post-meta {
  text-align: end;
}

.post-tags {
  text-align: end;
}

.rotating {
    animation: rotate 1s infinite;
}

@keyframes rotate {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
}

.rainbow-animated {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% 100%; /* Make the gradient wider than the element */
  animation: rotate 5s linear infinite; /* Animate the background position */
}

.emoji-rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.emoji {
    position: absolute;
    font-size: 2rem;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100vh);
    }
}


.outside-container {
  display: flex; 
  justify-content: center;
  align-items: flex-start;
}

.left-side {
  width: 200px; /* Adjust width as needed */
  padding: 10px;
}

.right-side {
  width: 200px; /* Adjust width as needed */
  padding: 10px;
}

.side-bar {
  margin-top:100px;
}

.container {
  max-width: 800px;
}

